### Importing Packages

### Stock data-pipeline
**Author: Archana Raghu**

This python script is data-cleaning pipeline. The data source is SI PRO.
The dataset contains a 122 features and about 6323 records of companies.
In order to have dataset, which is complete and consistent. Data pipeline 
eliminates features in dataset that are not required, and maintains a clean dataset by eliminating any company with incomplete or missing data.

In [1]:
import pandas as pd
xl = pd.ExcelFile('2018.xlsx')
print(xl.sheet_names) ## print sheet names

['2018', 'Sheet1']

### Creating Dataframes

In [4]:
# Creating Dataframe
df1 = xl.parse(xl.sheet_names[0]) ## Sheet = 2018
df2 = xl.parse(xl.sheet_names[1]) ## Sheet = Sheet1

# Creating and Displaying Dataframe
print("Display first five rows of sheet - '2018' ")
df1.head()

Display first five rows of sheet - '2018'

,price_date,company,ticker,sp_desc,smg_desc,sic,img_desc,eps_eq0,epsdmp_eq0,epspm_eq0,...,roe_12m,iw_pbuy,iw_ee,pricevm001,pricevm002,pricevm003,pricevm004,pricevm005,pricevm006,Split_Adjusted Price
43131 024 Pharma Inc,2018-01-31,024 Pharma Inc,EEIG,None,08 - Health Care,2833,0803 - Biotechnology & Drugs,NaN,NaN,NaN,...,390.1,NaN,NaN,0.804,1.512,0.373,0.420,0.412,0.407,5.000
43131 1-800-Flowers.Com Inc,2018-01-31,1-800-Flowers.Com Inc,FLWS,None,09 - Services,5992,0963 - Retail (Specialty Non-Apparel),-0.108,0.0,-0.108,...,16.8,14.05,0.74,3045.763,2645.699,4555.917,2890.004,3424.921,4233.462,10.425
43131 12 Retech Corp,2018-01-31,12 Retech Corp,RETC,None,10 - Technology,7372,1036 - Software & Programming,NaN,NaN,NaN,...,NaN,NaN,NaN,1576.700,2660.376,18886.904,7766.993,23134.208,46821.195,0.150
43131 1347 Property Insurance Holdin,2018-01-31,1347 Property Insurance Holdin,PIH,None,07 - Financial,6331,0715 - Insurance (Property & Casualty),NaN,NaN,NaN,...,1.1,NaN,NaN,109.762,85.834,240.567,70.846,104.434,290.684,6.855
43131 180 Degree Capital Corp,2018-01-31,180 Degree Capital Corp,TURN,None,07 - Financial,6726,0721 - Misc. Financial Services,NaN,NaN,NaN,...,-6.0,NaN,NaN,3439.552,1832.399,2512.617,3980.382,1112.740,1481.424,1.990

Open and display sheet1

In [5]:
print("Display first five rows of sheet - 'sheet1' ")
df2.head()

Display first five rows of sheet - 'sheet1'

,price_date,company,ticker,price,split_price,split_fact,Split_Adjusted Price
43131 Agilent Technologies Inc,2018-01-31,Agilent Technologies Inc,A,73.43,NaT,NaN,73.43
43131 Alcoa Corp,2018-01-31,Alcoa Corp,AA,52.02,NaT,NaN,52.02
43131 Advanced Accelerator Applicati,2018-01-31,Advanced Accelerator Applicati,AAAP,80.42,NaT,NaN,80.42
43131 Altaba Inc,2018-01-31,Altaba Inc,AABA,79.88,2004-05-12,2.0,79.88
43131 AAC Holdings Inc,2018-01-31,AAC Holdings Inc,AAC,8.95,NaT,NaN,8.95

Length before Filtering null Values

Number of records after Filtering null Values

## Selecting Features

Only a selected set of features from a total of 122 features are required of this analysis. The list of the features selected is available in 'Data for archana.xlsx'. The following script create a list of features required.

In [8]:
featureFile = pd.ExcelFile('Data for archana.xlsx')      ## select 'Data for archana.xlsx' and create a file object
features = featureFile.parse(featureFile.sheet_names[0]) ## select the first sheet in that file object
features = features.loc[features['Unnamed: 2'] == 'x']   ## Look out for column 'Unnamed: 2'and select features only with 
                                                         ##'X' Marked. 
features = features['short_name']                        ## of the selected features -  select only their shortname
                                                         ## Convert the series into a list and lowercase
features = features.tolist()
features = [fea.lower() for fea in features]
required_features = ['company'] + features               ## create a required_features with 'company' and features selected.

In [9]:
required_features = ['company'] + features
df1 = df1[required_features]                             ## adding company to the required features list

### Elimination of Null values

In [11]:
print("Before removing nullvalues: ",len(df1))
df1.dropna(inplace = True)
print("After removm"len(df1))

6323
455

### List all the columns of the new 2018 sheet.

In [10]:
df1.columns

Index(['company', 'epsdmp_eq0', 'epsdm_eq0', 'epsum_eq0', 'eps_ey0',
       'epsdmp_ey0', 'epspm_ey0', 'epsdm_ey0', 'epsum_ey0', 'eps_ey1',
       'epsdmp_ey1', 'epspm_ey1', 'epsdm_ey1', 'epsum_ey1', 'eps_ey2',
       'epsdmp_ey2', 'epspm_ey2', 'epsdm_ey2', 'epsum_ey2', 'eps_eg5',
       'epspm_eg5', 'epsdm_eg5', 'epsum_eg5', 'eps_ey0ey1', 'eps_ey1ey2',
       'qs_diff', 'qs_perc', 'qs_sue_q1', 'pe', 'perape', 'pe_to_g5e',
       'pe_to_g5f', 'pe_a3y', 'pe_ey0', 'pe_ey1', 'pe_ey2', 'pbvps', 'psps',
       'ins_pr_shr', 'shrinst', 'mktcap', 'prchg_04w', 'prchg_13w',
       'prchg_26w', 'rs_04w', 'rs_13w', 'rs_26w', 'roe_a5y', 'roe_12m'],
      dtype='object')

### First Five Records of new dataset

In [29]:
df1.head()

,company,epsdmp_eq0,epsdm_eq0,epsum_eq0,eps_ey0,epsdmp_ey0,epspm_ey0,epsdm_ey0,epsum_ey0,eps_ey1,...,shrinst,mktcap,prchg_04w,prchg_13w,prchg_26w,rs_04w,rs_13w,rs_26w,roe_a5y,roe_12m
43131 1st Constitution Bancorp,1st Constitution Bancorp,0.0,0.0,0.0,1.030,0.0,1.030,0.0,0.0,1.150,...,28.1,155.0,6.49,9.75,14.87,2.09,-0.15,0.66,8.3,7.8
43131 3M Co,3M Co,7.8,0.0,5.0,10.537,6.9,9.853,0.0,13.0,11.381,...,68.4,149819.3,6.31,8.43,23.29,1.92,-1.35,8.03,37.8,47.9
43131 Acme United Corporation,Acme United Corporation,0.0,0.0,0.0,1.475,0.0,1.475,0.0,0.0,1.675,...,55.8,80.4,-0.66,8.84,-13.39,-4.76,-0.98,-24.11,12.4,10.9
"43131 Activision Blizzard, Inc.","Activision Blizzard, Inc.",2.1,0.0,8.0,2.261,0.8,2.243,0.0,8.0,2.572,...,90.9,54144.3,13.51,13.52,18.80,8.82,3.28,4.10,11.2,11.6
43131 AFLAC Incorporated,AFLAC Incorporated,-0.2,3.0,3.0,6.754,0.0,6.757,4.0,2.0,7.496,...,73.3,34821.3,-0.03,5.21,9.04,-4.16,-4.28,-4.45,17.3,13.2

### Does new features have any null  or empty values?

In [13]:
df1.isna().any()

company       False
epsdmp_eq0    False
epsdm_eq0     False
epsum_eq0     False
eps_ey0       False
epsdmp_ey0    False
epspm_ey0     False
epsdm_ey0     False
epsum_ey0     False
eps_ey1       False
epsdmp_ey1    False
epspm_ey1     False
epsdm_ey1     False
epsum_ey1     False
eps_ey2       False
epsdmp_ey2    False
epspm_ey2     False
epsdm_ey2     False
epsum_ey2     False
eps_eg5       False
epspm_eg5     False
epsdm_eg5     False
epsum_eg5     False
eps_ey0ey1    False
eps_ey1ey2    False
qs_diff       False
qs_perc       False
qs_sue_q1     False
pe            False
perape        False
pe_to_g5e     False
pe_to_g5f     False
pe_a3y        False
pe_ey0        False
pe_ey1        False
pe_ey2        False
pbvps         False
psps          False
ins_pr_shr    False
shrinst       False
mktcap        False
prchg_04w     False
prchg_13w     False
prchg_26w     False
rs_04w        False
rs_13w        False
rs_26w        False
roe_a5y       False
roe_12m       False
dtype: bool

Things to do:

1.  class lables = R+1, R+2, R+3, R+4.
2.  year, adding year as the feature in the dataset.
3.  GitHub Repo
4.  Detail Description of the above features